/* ============= main.css ================ */
/* import some assets */
/* import fonts 
   from "fonts.google.com"
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #160F3C;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* heading */
.heading-1{
  font-size: 56px;
  font-family: "Poppins", sans-serif;
  color: #000;
  line-height: 1.5em;
}

/* header */
header.header{
  height: 70px;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 30px -4px rgb(238, 238, 238);
  padding: 0 100px;
}
.mobile-nav{
  display: none;
}
.header .brand{
  display: flex;
  align-items: center;
}
.header .brand a img{
  height: 40px;
  width: 40px;
  border-radius: 100px;
}
.header .brand .brand-title{
  font-size: 16px;
  margin-left: 12px;
  font-family: "Poppins", sans-serif;
  color: #8656FF;
}
.header .nav{
  display: flex;
  flex-grow: 1;
}
.header .nav .menus{
  display: flex;
  align-items: center;
}
.header .nav .menus .menu-item{
  list-style: none;
  margin-left:20px;
}
.header .nav .menus .menu-item a{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #160F3C;
  border: none;
  text-decoration: none;
}
.header .nav .menus .menu-item a:hover{
  color: #8656FF;
}

/* mobile navigation css */
.mobile-nav{
  position: relative;
}
.mobile-nav>button{
  height: 40px;
  width: 40px;
  border-radius: 16px;
  background: #8656FF;
  color: #ffffff;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 20px;
}
.mobile-nav:hover>.menus{
  display: flex !important;
}
.mobile-nav>.menus{
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  z-index: 999;
  background: #ffffff;
  box-shadow: 0px 0px 20px -4px rgb(194, 190, 190);
  padding: 24px;
  border-radius: 24px;
  gap: 12px;
  display: none;
  flex-direction: column;
}
.mobile-nav>.menus>.menu-item{
  list-style: none;
}
.mobile-nav>.menus>.menu-item>a{
  text-decoration: none;
  color: #8656FF;
  font-weight: 500;
}

/* main */
/* home section */
#home{
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #ffffff;
  align-items: center;
  padding: 140px;
}
#home>h2{
  font-size: 56px;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  text-align: center;
  max-width: 60%;
}
#home>h2>span{
  color: #8656FF;
}
#home>p{
  font-size: 14px;
  color: #777;
  max-width: 40%;
  text-align: center;
}
#home>button.action{
  height: 44px;
  padding: 0 28px;
  border-radius: 16px;
  background: #8656FF;
  outline: none;
  transition: all .5s ease-in-out;
  border: none;
  font-weight: 600;
  font-size: 13px;
  color: #ffffff;
}
#home>button.action:hover{
  scale: 1.3;
}
#home>.illustration>img{
  width: 100%;
}

/* offer section */
#offer{
  display: flex;
  padding: 140px;
  background: #ffffff;
  gap: 40px;
  background-image: url(../image/blob.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-position-x: 500px;
}
#offer>.content{
  flex: 2;
}
#offer>.content>h2{
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}
#offer>.content>p{
  color: #777;
  font-size: 15px;
  line-height: 1.5;
}
#offer>.content>button.action{
  margin-top: 40px;
  height: 44px;
  width: 120px;
  transition: all .5s ease-in-out;
  background: #8656FF;
  color: #ffffff;
  font-weight: 600;
  outline: none;
  font-size: 13px;
  border-radius: 16px;
  border: none;
}
#offer>.content>button.action:hover{
  transform: rotate(10deg);
}
#offer>.cards{
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
#offer>.cards>.item{
  background: #ffffff;
  /* box-shadow: 0px 0px 20px -4px #d6d6d6; */
  border-radius: 24px;
  display: flex;
  transition: all .5s ease-in-out;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  max-width: 200px;
}
#offer>.cards>.item:hover{
  transform: translateY(-12px);
  scale: 1.1;
}
#offer>.cards>.item:nth-child(1){
  background: #ede5ff;
}
#offer>.cards>.item:nth-child(2){
  background: #ffeddb;
  margin-top: 80px;
  margin-bottom: -80px;
}
#offer>.cards>.item:nth-child(3){
  background: #dbffe9;
}
#offer>.cards>.item:nth-child(4){
  background: #ffdbf6;
  margin-top: 80px;
  margin-bottom: -80px;
}
#offer>.cards>.item>figure>img{
  height: 52px;
  height: 52px;
  object-fit: cover;
}
#offer>.cards>.item>h5{
  font-size: 16px;
  font-weight: 600;
}
#offer>.cards>.item>p{
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}


/* products */
#products{
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 140px;
  align-items: center;
}
#products>h2{
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}
#products>p{
  color: #777;
  font-size: 15px;
  line-height: 1.5;
  max-width: 40%;
  text-align: center;
}
#products>.content{
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
#products>.content>.item{
  background: #ffffff;
  padding: 24px;
  display: flex;
  transition: all .5s ease-in-out;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #f5f5f5;
  flex: 1;
}
#products>.content>.item:hover{
  scale: 1.1;
  transform: translateY(-12px);
  background: #8656FF;
  color: #ffffff !important;
}

#products>.content>.item:hover>p{
  color: #ffffff;
}
#products>.content>.item:hover>button.action{
  background: #f5f5f5;
  color: #8656FF;
}
#products>.content>.item>figure>img{
  height: 72px;
  width: 72px;
  object-fit: cover;
}
#products>.content>.item>h5{
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}
#products>.content>.item>p{
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
#products>.content>.item>.feature{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:12px;
}
#products>.content>.item>.feature>li{
  list-style: none;
  margin-left: -20px;
  font-size: 14px;
  font-weight: 500;
}
#products>.content>.item>.feature>li>span{
  color: #40da7b;
  font-size: 20px;
}
#products>.content>.item>button.action{
  height: 44px;
  width: 90%;
  border-radius: 16px;
  background: #8656FF;
  border:none;
  outline: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  margin-top: 24px;
}


/* team section */
#review{
  background: #8656FF;
  display: flex;
  flex-direction: column;
  padding: 140px;
  align-items: center;
}
#review>h2{
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #f5f5f5;
}
#review>p{
  color: #f5f5f5;
  font-size: 15px;
  line-height: 1.5;
  max-width: 40%;
  text-align: center;
}
#review>.content{
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
#review>.content>.item{
  background: #ffffff;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #f5f5f5;
  transition: all .5s ease-in-out;
  display: flex;
  flex-direction: column;
}
#review>.content>.item:hover{
  scale: 1.1;
  transform: rotate(10deg);
}
#review>.content>.item>span{
  color: #8656FF;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  margin-top: 20px;
}
#review>.content>.item>p{
  font-size: 14px;
  color: #777;
  line-height: 1.5;
}
#review>.content>.item>.reactions{
  display: flex;
  margin-top: 12px;
  gap: 8px;
}
#review>.content>.item>.reactions>span{
  padding: 4px 12px;
  border-radius: 8px;
  color: #40da7b;
  font-weight: 500;
  background: #d7ffe7;
}
#review>.content>.item>.reactions>span:nth-child(2){
  color: #8656FF;
  background: #ede5ff;
}
#review>.content>.item>.reviewer{
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}
#review>.content>.item>.reviewer>img{
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 100%;
}
#review>.content>.item>.reviewer>.datas{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
#review>.content>.item>.reviewer>.datas>h4{
  font-size: 14px;
  line-height: 0;
  margin-bottom: 12px;
}
#review>.content>.item>.reviewer>.datas>span{
  color: #777;
}



/* contact section */
#contact{
  padding: 140px;
  background: #ffffff;
  display: flex;
  gap: 28px;
  background-image: url(../image/blob-3.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-position-x: 500px;
}
#contact>.content{
  display: flex;
  flex-direction: column;
  flex: 1;
}
#contact>.content>h2{
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}
#contact>.content>p{
  font-size: 15px;
  line-height: 1.5;
}
#contact>.content>.socials{
  display: flex;
  gap: 12px;
  margin-top: 60px;
}
#contact>.content>.socials>a{
  text-decoration: none;
  color: #160F3C;
  font-weight: 500;
  padding: 12px 20px;
  background: #ede5ff;
  border-radius: 16px;
}
#contact>.illustartion{
  flex: 1.4;
}
#contact>.illustartion>img{
  height: 500px;
}


/* footer */
#footer.footer{
  background: #ffffff;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 100px;
}
.footer .support{
  display: flex;
  flex-grow: 1;
  font-weight: 500;
}
.footer .support .accent-red{
  color: red;
  margin-left: 8px;
}
.footer .credit{
  font-weight: 500;
}
.footer .credit .accent{
  color: #8656FF;
  text-decoration: none;
}



/* responsive settings */
/* Larger devices for desktop and up */
@media only screen and (min-width: 1200px){

}

/* Medium device at 768px, and up */
@media only screen and (max-width:1024px) {
  /* header */
  .header{
    padding: 0px 20px !important;
  }

  /* main section */
  #home, #offer, #products, #review, #contact{
    padding: 40px !important;
  }
  #home img{
    height: 600px;
  }
  #offer{
    background-image: unset;
    flex-direction: column;
    text-align: center;
  }
  #offer>.cards{
    align-items: center;
  }
  #offer>.cards>.item{
    margin: 0 0 !important;
    max-width: 40%;
  }
  #products>.content{
    flex-wrap: wrap;
  }
  #products>.content>.item{
    max-width: 40%;
    flex: unset;
  }
  #contact{
    background-image: unset;
    flex-direction: column;
    text-align: center;
  }
  #contact>.content{
    align-items: center;
  }


  /* footer */
  .footer{
    padding: 0 20px !important;
  }
  
}

/* Large devices at 992px and up */
@media only screen and (min-width: 992px){

}


/* Device at 600px and up */
@media only screen and (min-width:600px){
  .header{
    padding: 0px;
  }
  }

/* Mobile device */
@media only screen and (max-width: 420px){
/* header */
.header{
  padding: 0px 20px !important;
}
.header .nav{
  display: none !important;
}
header.header{
  justify-content: space-between;
}
.mobile-nav{
  display: block !important;
}
.header .action{
  display: none;
}

/* main */
#home, #offer, #products, #review, #contact{
  padding: 20px !important;
}
#home>h2{
  max-width: 100%;
}

#offer>.cards>.item{
  max-width: 100%;
}

#products>p{
  max-width: 100%;
}
#products>.content>.item{
  max-width: 100%;
}
#review>p{
  max-width: 100%;
}
#review>.content{
  flex-wrap: wrap;
}
#review>.content{
  flex: unset;
  min-width: 100%;
}
#contact>.illustartion>img{
height: unset;
}

/* footer */
.footer{
  padding: 0 20px !important;
}
}




